[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
twilio = "*"

[dev-packages]
flake8 = "*"
pandoc = "*"
pep8 = "*"
pytest= "*"
pytest-cov= "*"
pytest-django= "*"
setuptools-markdown = "*"
twine = "*"
wheel = "*"

[requires]
python_version = "3.6"
